body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

path {
	fill: none;
}

/* path:hover {
	z-index: 100;
	stroke-width: 10px;
} */

.bagged-pound-five path {
	stroke: rgb(139, 8, 8);
}
.bagged-pound-two path {
	stroke: rgb(28, 105, 28);
}
.bagged-pound-one path {
	stroke: rgb(11, 20, 145);
}